# project setting 'npm config'
registry = https://nexus.vsit.dand.de:8443/repository/npm-public/
# registry = http://localhost:8091/repository/test-npm-hosted/
always-auth = true
scripts-prepend-node-path=true
strict-ssl=false
ca=""
